.bankAccountDetails {
  .files {
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;

    img {
      width: 100%;
      cursor: pointer;
    }

    input {
      display: none;
    }
  }

  div:first-child {
    margin-top: 20px;
  }

  &-container {
    button {
      margin: 40px 0;
    }
  }
}

@media only screen and (max-width: $tablet) {
  .files {
    flex-direction: column;
  }
}
